.underline {
  position: relative;
  font-size: 14px;
  background-color: #00bc77;
  z-index: 0;
}

svg {
  z-index: 1;
}

._1 {
  bottom: 6px;
}

._2 {
  bottom: 12px;
}

._3 {
  bottom: 18px;

}

.underline_item-left {
  width: 20%;
}

.underline_item-editIcon {
  cursor: pointer;
}

.underline_item-editLine {
  display: flex;
  gap: 10px;
  width: 100% !important;
  height: 20px;
}

.transaction-table td:nth-child(2), .transaction-table th:nth-child(2) {
  text-align: left;
}

.transaction-table td:nth-child(2), .transaction-table th:nth-child(2) span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.underline_item-editLine input {
  max-width: 60px;
}